body {
  background-image: url('../images/pine.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #587d4a;
}
header {
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  color: black;
  padding: 1em;
}
h1 {
  font-size: 1.7em;
}
main {
  background-color: #DACFC2;
  font-size: 1.3em;
  opacity: 0.8;
  margin: 3em;
  padding: 3em;
  text-align: center;
}
.button {
  font-size: 1em;
}
.pop_input {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.check {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.question {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.mc {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.again {
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}
/*
.answer {
  display: none;
  margin-left: auto;
  margin-right: auto;
} */

/* media query for tablet viewport
@media screen and (min-width: 481px) {

}
*/
