* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/fire_background.jpg");
  background-position: left;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* background-color: #8f250c; */
  font-family: "Outfit", sans-serif;
}
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #bb4d00;
}
h2 {
  font-size: 32px;
}
/* main {
  background-color: #c2bece;
  opacity: 0.5;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 100px auto;
} */
input {
  background: none;
  font-family: "Roboto", sans-serif;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
input:hover {
  border-color: #f1ff5c;
  color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
.button {
  font-size: 1em;
  cursor: pointer;
}
.pop_input {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.check {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.question {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.mc {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.again {
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/*
.answer {
  display: none;
  margin-left: auto;
  margin-right: auto;
} */

/* media query for tablet viewport
@media screen and (min-width: 481px) {

}
*/
